*
{
    padding: 0px;
    margin: 0 auto;
}

body
{
    display: flex;
    flex-wrap: wrap;
}

#header ul
{
    box-sizing: border-box;
    list-style-type: none;
    background-color: rgb(63, 63, 63);
    font-weight: bold;
    font-family: Geneva, Tahoma, sans-serif;
}

#header ul li
{
    display: inline;
    padding: 30px;
}

#header ul li a
{
    margin-left: 50px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background .4s;
}

#header li a:hover
{
    background-color: blueviolet;
}


